.panel{
    border-radius: 0px;
}

.top-buffer {
    margin-top: 10px;
    width: 95px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
    background: red;
	color: white;
}

.btn{
	color: red;
}

.pointer {
    cursor: pointer;
}

.bgcolor {
    background-color: red;
}

.white {
    color: white;
}

.red {
    color: red;
}

.black {
    color: black;
}

.indexPnl {
    background-color: red;
    opacity: 0.8;
}

.iconAnzeige {
    opacity: 0.9;
    background-color: white;   
    text-align: center;
    border-radius: 10px;
    border: 1px solid darkgray;
    width: 65px;
}

.dialogBox {
    position: absolute;
    left: 46%;
    z-index: 1;
    top: 35%;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.title {
    margin-top: 5px;
    font-weight: bolder;
}
