body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    width: 100vw;
}

.leaflet-bar a { 
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #444;
    display: block;
    height: 26px;
    width: 26px;
    line-height: 1.45 !important;
    text-align: center;
    text-decoration: none;
    font: bold 18px 'Lucida Console', Monaco, monospace; 
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
    background: red;
	color: white;
}

.bgcolor {
    background-color: red;
}

.white {
    color: white;
}

.red {
    color: red;
}

.pointer {
    cursor: pointer;
}

.leaflet-popup-content {
    width: auto;
}

.ma {
    float:left;
}

.ma_info {
    font-weight: bold;
    text-align: right;
}

.my-slider {
    text-align: center;
}

#censored {
    background-color: white;
    width: 58px;
    height: 10px;
    position: absolute;
    top: 302px;
}

.owm-icondiv {
    opacity: 0.9;
    background-color: white;
    width: 60px;
}

.owm-icondiv-temp {
    font-size: 14px;
}

.carousel-control {
    width: 0%;
    color: red;
    opacity: 1.0;
}

.carousel-indicators .active {
    background-color:red;
}

.carousel-indicators li {
    border-color: red;
}

.datumsContainer {
    position: absolute;
    bottom: 40px;
    left: 10%;
    right: 10%;
}

.noUi-horizontal .noUi-tooltip {
    font-size: initial;
}

.noUi-handle {
    border: 1px solid red;
    background: red;
}

.carousel-caption {
    text-shadow: none;
}

.unslider {
    height: 35px;
}

